




  /* contact information */
	
	
	
	*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}
.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
 
  padding: 0 20px;
}
.card{
  background: #2f3542;
  padding: 0 35px;
  margin: 0 20px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.card-icon{
  font-size: 28px;
  background: #FFCC00;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px ;
  border-radius: 50%;
  transition: 0.3s linear;
}
.card:hover .card-icon{
  background: none;
  color:#FFCC00;
  transform: scale(1.6);
}
.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.card:hover p{
  max-height: 40px;
  opacity: 1;
}
.p{
	font-size: 50px;
	font-family: 'Monda', sans-serif;

}

.h2{
	font-size: 70px;
	font-family: 'Encode Sans', sans-serif;
	
}




/* services*/





/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Whole Document */
html{
    font-family: 'Roboto';
}


}

/* Our Services */
.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 170px;
}

/* Heading */
.container > h1, .title{
    font-weight: 300 !important;
    letter-spacing: 1px;
}

/* Heading Description */
.container > h1, .container > p{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    transition: color 2s ease-in;
}

/* One Srevice */
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.service{
    margin: 12px;
    overflow: hidden;
    padding: 40px 25px;
    position: relative;
    text-align: center;
    transition: 0.5s;
    width: 200px;
}

.service:hover{
 
    transform: translateY(-3px);
}

.service::after{
    content: '';
    border-width: 20px;
    border-style: solid;
    border-color: #18194f #d35400;
    position: absolute;
    left: -40px;
    bottom: -40px;
    transition: left 0.5s ease-out, bottom 0.5s ease-out;
}


}

.service > i{
    display: block;
    color: #e6d6ec;
    font-size: 4rem;
    margin-bottom: 0.9rem;
    transition: color 2s ease-in;
}

.service > .title{
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.55rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    transition: color 2s ease-in;
}

.service > .desc{
    line-height: 1.55rem;
    margin: 0;
    transition: color 2s ease-out;
}

/* Responsive */
@media(max-width:1110px){
    .container > h1{
        font-size: 30px;
    }

    .container > p, .service > .desc{
        font-size: 15px;
    }

    .service > i{
        font-size: 3rem;
    }

    .service{
        width: 170px;
        padding: 20px 15px;
    }
}

@media(max-width:900px){
    .service{
        width: 250px;
        padding: 40px 25px;
    }
}








  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:   #8c8c8c;
}

/* Testimonials */
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

/* One Testimonial */
.container .test{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
    margin: 20px;
    background-color: #dfe3e6;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

.container .test:hover{
    background-color:  #ffcc00;
    transform: translateY(5px);
}

.container .content img{
    width: 80px;
    height: 110px;
    border: #aa0a5a solid 3px;
    border-radius: 50%;
}

.container .test .content{
    position: relative;
    top: -30px;
    padding: 30px;
    text-align: center;
}

.container .content p{
    color: #1d1642;
    padding: 20px 0;
    text-align: center;
}

.container .content::before{
    content: '"';
    font-size: 80px;
    color: #aa0a5a;
    position: relative;
    bottom: -50px;
}

.container .content h3{
    color: #1d1642;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px 0;
}
  
  
  
  
  
  
  
  